<% provide(:title,"Home") %>
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>

<%#= link_to image_tag("kitten.jpg", alt: "kitten", size: "250x250"),
            'http://rubyonrails.org/' %>

<%= link_to image_tag("aniki.jpg", alt: "aniki", size: "250x250"),
            'http://rubyonrails.org/' %>

<%= link_to image_tag("aniki2.png", alt: "aniki2", size: "250x250"),
            'http://rubyonrails.org/' %>

